.global-button-full-div{
    width: 8rem;
    height: 2.7rem;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    overflow: hidden;
    /* border-radius: 3px; */
    transition: transform 500ms ease-in-out;
    z-index: 0;
}

.global-button{
    width: 100%;
    height: 100%;
    border: 2px solid greenyellow;
    border-radius: 3px;
    font-family: 'Comfortaa' , cursive;
    background: transparent;
    cursor: pointer;
    color: greenyellow;
    transition: color 500ms ease-in-out;
    text-shadow: 1px 1px 5px rgba(0 , 0 , 0 , 0.5);
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
}

.global-button-background{
    width: 200%;
    height: 400%;
    left: -50px;
    top: -25px;
    background-color: greenyellow;
    transition: transform 500ms ease-in-out;
    z-index: -1;
    position: absolute;
    transform: rotate(10deg) translateX(-100%);
    border-radius: 5px;
}

.global-button-full-div:hover .global-button-background{
    transform: rotate(10deg);
}

.global-button-full-div:hover .global-button{
    color: whiteSmoke !important;
}

.global-button-full-div:hover{
    transform: scale(1.05);
}