/* .new-post-page-container{
    height: 100vh;
} */

/* html{
    height: 100%;
}
body{
    height: 100%;
}

#root{
    height: 100%;
}

.App{
    height: 100%;
} */

.new-post-page-full-container{
    height: 100%;
}