
.post-form-div{
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(0 0 30px grey);
  font-family: 'Comfortaa' , cursive;
}

.content-tagline{
  display: inline-block;
  color: rgba(54, 53, 53, 0.849);
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.548);
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 0;
}

.content-tagline-h1{
  margin-bottom: 0;
  display: inline-block;
  margin-left: 20px;
  color: rgb(0, 195, 255);
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.609);
}

.postform-header-div{
  width: 95%;
  text-align: left;
  margin:0 auto;
}

.postform-user-image-div{
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
  border:2px solid white;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.589);
  display: inline-block;
}

.postform-user-image{
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
}

.postform-username{
  display: inline-block;
  color: rgb(0, 195, 255);
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-left: 10px;
  transform: translateY(-190%);
}

.postform-title-input-div{
  position: relative;
  margin:30px auto 0 auto;
}

.title-input-area{
  height: 1rem;
  width: 100%;
  max-width: 15rem;
  padding:20px;
  border-radius: 100px;
  border: 2px solid white;
  border-radius: 3px 3px 5px rgba(128, 128, 128, 0.63);
  outline: none;
  font-family: 'Dancing Script';
  font-size: 2rem;
  text-align: center;
  -webkit-box-shadow:inset 2px 2px 10px 0 rgba(0, 217, 255, 0.589);
    box-shadow:inset 2px 2px 10px 0 rgba(0, 204, 255, 0.712);
  
  background-color: #F0F2F5;
  transition: all 700ms ease-in-out;
  margin-top: 10px;
}

.postform-title-placeholder{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  text-shadow: 2px 2px 3px rgba(128, 128, 128, 0.541);
  transition: all 800ms ease-in-out;
  pointer-events: none;
}

.title-input-area:focus{
  border-color: #189af1;
}

.title-input-area:focus~ .postform-title-placeholder{
color: white;
text-shadow: none;
visibility: hidden;
}

.postform-img-preview-div{
  width: 100%;
  max-height: 40rem;
  overflow: hidden;
  overflow-y: scroll;
  margin-top:20px;
  filter: drop-shadow(0 0 15px rgb(90, 89, 89));
  background-color: black;
}

.postform-img-preview{
  width: 100%;
  max-width: 800px;
  border-top: 4px solid black;
}

#post-content-span {
  display: inline-block;
  border: solid 1px black;
  width: 80%;
  border: 2px solid #C0BEBE;
  border-radius: 20px;
  outline: none;
  padding: 1rem 1rem;
  min-height: 14rem;
  font-size: 1.3rem;
  transition: all 500ms ease-in-out;
  background: #f0f2f5;
}

#post-content-span:focus{
  border-color: #6CA5F2;
  background: transparent;
  box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.541);
}

.post-form-image-picker-icon{
  font-size: 5rem;
  filter: drop-shadow(0 0 5px grey);
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.post-form-image-picker-icon:hover{
  filter: drop-shadow(0 0 8px rgba(93, 93, 93, 0.938));
}


.post-form-image-picker-p{
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  color: #189af1;
}


.post-form-image-picker-p:hover~.post-form-image-picker-icon{
  font-size: 6rem;
  filter: drop-shadow(0 0 8px rgba(93, 93, 93, 0.938));
}

.new-post-submit-button{
  outline: none;
  border: none;
  color: greenyellow;
  background-color: white;
  cursor: pointer;
  font-size: 5rem;
  transition: all 500ms ease-in-out;
}



.post-form-add-image-svg-div{
  margin: 10px auto 0 auto;
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.post-form-add-image-svg{
  height: 3rem;
  width: 3em;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}

.post-form-add-image-svg:hover{
  transform: translateY(-2px);
}



@media(max-width : 900px){
  .post-form-div{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  #post-content-span {
    border-radius: 0 !important;
    width: 90%;
    text-align: left;
  }

  .post-form-add-image-svg-div{
    width: 90%;
  }

  .postform-img-preview-div{
    max-height: 20rem;
  }

  .post-form-image-picker-icon:hover{
    font-size: 5rem;
  }
}


@media(max-width : 304px)
{
  .title-input-area{
    width: 10rem;
  }
}