
.post-form-div{
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0 , 0 , 0 , 0.5);
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(10px);
  /* filter: drop-shadow(0 0 30px grey); */
  font-family: 'Comfortaa' , cursive;
}

.content-tagline{
  display: inline-block;
  color: rgba(54, 53, 53, 0.849);
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.548);
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 0;
}

.content-tagline-h1{
  margin-bottom: 0;
  display: inline-block;
  margin-left: 20px;
  color: rgb(0, 195, 255);
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.609);
}

.postform-header-div{
  width: 95%;
  text-align: left;
  margin:0 auto;
}

.postform-user-image-div{
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
  border:2px solid white;
  display: inline-block;
}

.postform-user-image{
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
}

.postform-username{
  display: inline-block;
  color: rgb(0, 195, 255);
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-left: 10px;
  transform: translateY(-190%);
}

.postform-title-input-div{
  position: relative;
  margin:30px auto 0 auto;
}



.postform-img-preview-div{
  width: 100%;
  max-height: 40rem;
  overflow: hidden;
  overflow-y: scroll;
  margin-top:20px;
}

.postform-img-preview-div::-webkit-scrollbar{
  width: 0;
}

.postform-img-preview{
  width: 100%;
  max-width: 800px;
  border-top: 4px solid black;
}

#post-content-span {
  display: inline-block;
  border: solid 1px black;
  width: 80%;
  border: 2px solid #C0BEBE;
  border-radius: 20px;
  outline: none;
  padding: 1rem 1rem;
  min-height: 14rem;
  font-size: 1.3rem;
  transition: border-color 500ms ease-in-out;
  background: #f0f2f5;
  color: whitesmoke;
  background: transparent;
}

#post-content-span:focus{
  border-color: cyan;
}


.new-post-submit-button{
  outline: none;
  border: none;
  color: greenyellow;
  cursor: pointer;
  font-size: 5rem;
  background: transparent;
}



.post-form-add-image-svg-div{
  margin: 10px auto 0 auto;
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.post-form-add-image-svg{
  height: 3rem;
  width: 3em;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}

.post-form-add-image-svg:hover{
  transform: translateY(-2px);
}



@media(max-width : 900px){
  .post-form-div{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  #post-content-span {
    border-radius: 0 !important;
    width: 90%;
    text-align: left;
  }

  .post-form-add-image-svg-div{
    width: 90%;
  }

  .postform-img-preview-div{
    max-height: 20rem;
  }


}


@media(max-width : 304px)
{
  .title-input-area{
    width: 10rem;
  }
}