.login-div-container{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.loginPage-background-image, .loginPage-background-image-div{
    width: auto;
    height: auto;
    display: none;
}

.login-page-logo-div{
    width: fit-content;
    height: fit-content;
}

.login-page-logo{
    transform: translateX(-30px) translateY(25px) !important;
}

.login-with-google-button-div{

    margin-top: 40px;

}
@media(min-width : 1200px){
    .login-div-container{
        background: none;
    }
    .loginPage-background-image, .loginPage-background-image-div{
        display: block;
        margin-right: 50px;
    }
}

.logo-div
{
    position: relative;
}

.login-div form .input-wrapper-outside p
{
    margin: 0;
    padding: 0;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px;
}


.warning-messages{
    margin: 0;
    padding: 0;
    color: rgb(223, 45, 0);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}


@media(min-width : 900px){
    .login-fulldiv{
        padding: 5rem;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.541);
        background: white;
    }
}

.login-fulldiv h1
{
    color: #1877F3;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 5px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 900;
    font-size: 2.2rem;
    text-align: left;
    text-shadow: 1px 1px 3px grey;
}
.input-wrapper-outside
{
    margin: 3px;
}
.input-wrapper
{
    width: 15rem;
    margin: 0;
    padding: 0;
    border: 1.5px solid #82df84;
    border-radius: 10px;
    text-align: left;
    margin: 0 auto;
}
.input-wrapper input
{
    
    background: transparent;
    border: 0;
    margin-left: 10px;
    height: 30px;
    width: 12rem;
}
.input-wrapper input::placeholder
{
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
}
.input-wrapper input:focus,.input-wrapper input:hover
{
    outline: 0;
}
.input-wrapper i
{
    margin: 0 0 0 auto;
    cursor: pointer;
}


.login-page-signup-link
{
    color: #2c2828f8;
}
.login-page-signup-link a
{
    text-decoration: none;
    color: rgb(24, 126, 209);
    font-weight: 600;
}
.login-div a:focus,.login-div a:hover
{
    color: rgb(9, 46, 77);
}