.chatbubble-div{
    text-align: left;
}

.chatbubble-content-div{
    margin: 0;
    border-radius: 0 10px 10px 10px;
    background-color: #262D31;
    color: #C8E7DD;
    font-family: 'Roboto';
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 0;
    word-break: break-all;
    margin-bottom: 10px;
    padding: 15px 10px 0.5rem 15px;
    display: inline-block;
    min-width: 150px;
    max-width: 70%;
    text-align: left;
}


.chatbubble-content{
    font-size: 1rem;
    margin: 0;
    font-family: 'Comfortaa' , cursive;
}

.chatbubble-time-div{
    width: 100%;
    text-align: right !important;
}

.chatbubble-time{
    display: inline-block;
    margin: 5px 0 2px auto;
    font-size: 0.5rem;
    color: cyan;
}