.chatbubble-div{
    text-align: left;
    
}

.chatbubble-content-div{
    margin: 0;
    border-radius: 0 10px 10px 10px;
    background-color: #F0F2F5;
    color: grey;
    font-family: 'Roboto';
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 0;
    word-break: break-all;
    margin-bottom: 10px;
    padding: 15px 10px 0.5rem 15px;
    display: inline-block;
    min-width: 100px;
    max-width: 70%;
    text-align: left;
}


.chatbubble-content{
    font-size: 1rem;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.527);
    font-family: 'Comfortaa' , cursive;
    font-weight: 600;
}

.chatbubble-time-div{
    width: 100%;
    text-align: right !important;
}

.chatbubble-time{
    display: inline-block;
    margin: 5px 0 2px auto;
    font-size: 0.5rem;
    color: white;
    text-shadow: 1px 1px 2px grey;
}