.inputfield-input-div{
    display: inline-block;
    position: relative;
}

.inputfield-input{
    height: 2.5rem;
    width: 15rem;
    border: 2px solid rgba(0, 110, 255, 0.664);
    border-color: #c0bebe;
    outline: none;
    border-radius: 4px;
    transition: border-color 300ms ease-in-out;
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: rgb(0, 68, 255);
    color: #050505;
    padding: 0 1rem;
    transform: translateZ(0);
    background-color: transparent;
}

.inputfield-input-placeholder{
    color: grey;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    font-family: 'Comfortaa' , cursive;
    pointer-events: none;
    background: white;
    padding: 0 5px;
    transition: color, top 500ms ease-in-out;
}

.inputfield-input:focus, .inputfield-input:valid{
    border-color: rgba(0, 110, 255, 0.664);
}

.inputfield-input:focus~.inputfield-input-placeholder, .inputfield-input:valid~.inputfield-input-placeholder{
    color: rgba(0, 110, 255, 0.664);
    top: 0;
}

.password-viewer{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
}

@media(max-width : 900px){
    .inputfield-input-placeholder{
        background-color: #F0F2F5;
    }
}