.inputfield-input-div{
    display: inline-block;
    position: relative;
}

.inputfield-input{
    height: 2.5rem;
    width: 15rem;
    border: 2px solid rgba(0, 110, 255, 0.664);
    border-color: #c0bebe;
    outline: none;
    transition: border-color 1s ease-in-out;
    font-family: 'Barlow Condensed';
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: rgb(0, 68, 255);
    color: #050505;
    padding: 0 1rem;
    transform: translateZ(0);
    background-color: transparent;
    font-weight: 200;
}

.inputfield-input-placeholder{
    color: grey;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    font-family: 'Barlow Condensed' , cursive;
    pointer-events: none;
    background: transparent;
    padding: 0 5px;
    transition: color 200ms ease-in-out,top 200ms ease-in-out,background 200ms ease-in-out;
    height: 3px;
    overflow: visible;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.inputfield-input:focus, .inputfield-input:valid{
    border-color: cyan !important;
}

.inputfield-input:focus~.inputfield-input-placeholder, .inputfield-input:valid~.inputfield-input-placeholder{
    color: cyan;
    top: 1px;
    background: #242527;
}

.password-viewer{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
}

@media(max-width : 900px){
    .inputfield-input-placeholder{
        background: transparent;
    }
}