.right-online-users-bar-full-div{
    height: 100vh;
    width: 16.5rem;
    padding-top: 64px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    text-align: left;
    transform: translateX(0) translateZ(0);
    transition: box-shadow 500ms ease-in-out,transform 500ms ease-in-out;
}

.right-online-users-bar-full-div:hover{
    box-shadow: -2px 2px 10px black;
}

.right-online-users-bar-title{
    margin-left: 10px;
    margin-bottom: 0;
    font-family: 'Comfortaa' , cursive;
    color: greenyellow;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-online-users-bar-title-icon{
    font-size: 0.8rem;
    margin-right: 10px;
}

.right-online-users-bar-inner-div{
    padding: 10px 0;
    height: 100%;
    width: 100%;
}

.right-online-users-bar-eachuser-div{
    width: 100%;
    height: 5rem;
    padding-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transform: translateZ(0);
    transition: background-color 500ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.right-online-users-bar-eachuser-div-background{
    position: absolute;
    background-color: rgba(172, 255, 47, 0.294);
    width: 100%;
    height: 100%;
    transform: translateX(-101%) translateZ(0);
    transition: transform 500ms ease-in-out;
    left: 0;
    top: 0;
    z-index: -1;
}

.right-online-users-bar-eachuser-div:hover .right-online-users-bar-eachuser-div-background{
    transform: translateX(0) translateZ(0);
}

.right-online-users-bar-eachuser-avatar-div{
    margin-right: 10px;
}

.right-online-users-bar-eachuser-username{
    font-family: 'Comfortaa' , cursive;
    color: greenyellow;
    font-weight: 600;
}

.mobile-right-online-users-bar-close-div{
    display: none;
}

@media(max-width : 900px){
    .right-online-users-bar-full-div{
        padding-top: 112px;
        background: #242427;
        box-shadow: -2px 2px 10px black;
        transform: translateX(101%) translateZ(0);
    }
    .mobile-right-online-users-bar-close-div{
        position: absolute;
        right: 10px;
        top: 120px;
        height: 1rem;
        width: 1rem;
        font-size: 1.5rem;
        display: inline-block;
        border-radius: 100%;
        border: 1px solid transparent;
        padding: 0.5rem;
        color: rgb(107, 107, 107);
        cursor: pointer;
        z-index: 2;
        color: #050505;
    }
}