/* .post-card{
    text-align: left;
} */

/* .active-users{
    text-align: right;
} */

.home-page-container{
    /* background: url("../../images/icon.svg") no-repeat; */
    background-position:bottom right;
    height: 100vh;
}

.top-username{
    color: grey;
}

.top-username span{
    color: #444;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    animation: color-change 5s infinite linear;
    /* letter-spacing: 0.3rem; */
}
@keyframes color-change {
    0% { font-weight: 400; 
    letter-spacing: 0;}
    25% { font-weight: 600;
    letter-spacing: 3px; }
    50% { font-weight: 700;
    letter-spacing: 5px; }
    75% { font-weight: 600;
    letter-spacing: 3px; }
    100% { font-weight: 400;
    letter-spacing: 0; }
  }

  .mypost-icon-container{
    padding-left: 1rem;
    text-align: left;
  }

  .mypost-icon-container i{
    text-shadow: 2px 0 5px rgba(0, 0, 0, 0.37);
    color: #706f6f;
  }

.postIt-container{
    margin-top: 8rem;
    
}

#new-post-icon{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 7;
}
#icon-feather{
    text-shadow: 2px 0 5px #000;
    color: #b8b6b6;
}

.background-div{
    position: fixed;
    top : 0;
    width: 100%;
    height: 100%;
    z-index: -101;
    background-color: #F0F2F5;
}

.background-image-container img{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100vh;
    z-index: -100;
}

.post-card{
    position:relative;
}

@media(max-width:35rem)
{
    /* #new-post-icon i{
        width: 3rem;
    } */
}