.home-page-container{
    height: 100vh;
    padding-top: 70px;
    overflow-y: scroll;
    box-sizing: border-box;
}   

.home-page-container::-webkit-scrollbar{
    background-color: #242527;
    width: 8px;
}

.home-page-container::-webkit-scrollbar-thumb{
    background : linear-gradient(to bottom , #242527 , cyan);
    border-radius: 0 0 10px 10px;
}

@media (pointer:none), (pointer:coarse) {

    .home-page-container::-webkit-scrollbar{
        background-color: unset;
        width: 0;
    }

    .home-page-container::-webkit-scrollbar-thumb{
        background : unset;
        border-radius: unset;
    }

}

@media(max-width : 900px){
    .home-page-container{
        padding-top: 112px;
    }
}

.top-username{
    color: grey;
}

  .mypost-icon-container{
    padding-left: 1rem;
    text-align: left;
  }

  .mypost-icon-container i{
    text-shadow: 2px 0 5px rgba(0, 0, 0, 0.37);
    color: #706f6f;
  }

.postIt-container{
    
    
}

#new-post-icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 7;
    background-color: #242527;
    border-radius: 20px;
    height: 4rem;
    width: 4rem;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.5);
}


.background-div{
    position: fixed;
    top : 0;
    width: 100%;
    height: 100%;
    z-index: -101;
    background-color: #242527;
}



.post-card{
    position:relative;
    /* min-height: 100vh; */
    margin-bottom: 20px;
}



.home-page-new-post-div{
    box-sizing: border-box;
    width:40%;
    height: 9rem;
    border-radius: 5px;
    background-color: #121212;
    margin:10px auto;
    padding: 20px;
    max-width: 750px;
    cursor: pointer;
    transition: transform 300ms ease-in-out,box-shadow 300ms ease-in-out;
    position: relative;
    overflow: hidden;
}


.home-page-new-post-div:hover{
    transform: translateY(-10px) translateZ(0);
    box-shadow: 4px 4px 10px rgba(0 , 0 , 0, 0.5);
}


.home-page-new-post-upper-div{
    /* height: 80%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.home-page-new-post-avatar-div{
    margin-right: 10px;
}

.home-page-new-post-link-div{
    height: 3rem;
    width: calc(100% - calc(3rem + 10px));
    border-radius: 50px;
    background-color: #242527;
    position: relative;
    transition: border-color 500ms ease-in-out;
    transform: translateZ(0);
}

.home-page-new-post-link-div-custom-placeholder{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    color: rgb(109, 109, 109);
    transition: color 500ms ease-in-out;
}

.home-page-new-post-lower-div{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: cursive;
    font-size: 1.1rem;
    color: greenyellow;
}

.home-page-new-post-lower-div-add-image-svg{
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}

.home-page__postcard-ending{
    width: 40%;
    height: fit-content;
    margin: 0 auto;
    background-color: #121212;
    border-radius: 2px;
    box-shadow: 4px 4px 15px rgba(0 , 0 , 0, 0.5);
    overflow: hidden;
}


.home-page__postcard-ending__inner-div{
    position: relative;
    padding: 30px 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transform: translateZ(0);
}

@keyframes animate-posts-ending-loader {

    0%{
        opacity: 0;
        transform: translateY(20px) translateZ(0);
    }
    50%{
        opacity: 1;
        transform: translateY(10px) translateZ(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-10px) translateZ(0);
    }
    
}

.home-page__postcard-ending__left{

    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    margin-right: 10px;
    background-color: #242527;

}

.home-page__postcard-ending__right{

    width: 100%;
    height: fit-content;

}
.home-page__postcard-ending__right_1{

    height: 1.5rem;
    width: 100%;
    background-color: #242527;
    margin-bottom: 10px;
    border-radius: 2px;
    
    

}
.home-page__postcard-ending__right_2{

    height: 1.5rem;
    width: 80%;
    background-color: #242527;
    margin-bottom: 10px;
    border-radius: 2px;
    

}
.home-page__postcard-ending__right_3{

    height: 1.5rem;
    width: 90%;
    background-color: #242527;
    margin-bottom: 10px;
    border-radius: 2px;
    

}
.home-page__postcard-ending__right_4{

    height: 1.5rem;
    width: 70%;
    background-color: #242527;
    margin-bottom: 10px;
    border-radius: 2px;
    

}

@media(max-width:56.25rem)
{
    .home-page-new-post-div,.home-page__postcard-ending{
        width:70%
    }
}

@media(max-width:30rem)
{
    .home-page-new-post-div,.home-page__postcard-ending{
        width:100%
    }
}