.left-navbar-link-full-div{
    width: fit-content;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transform: translate3d(-95%, 0, 0);
    transition: transform 200ms ease-in-out;
}

.left-navbar-link-icon-div{
    width: 2rem;
    height: 2rem;
    margin-right: 15px;
}

.left-navbar-link-text-div{
    width: calc(100% - calc(2rem + 10px));
    text-align: left;
    
}

.left-navbar-link-text{
    font-family: 'Comfortaa' , cursive;
    color: cyan;
    font-size: 1rem;
}


.left-navbar-link-full-div:hover{
    transform: rotate(-9deg) translate3d(0, -15px, 0) !important;
}

@media (max-width : 900px){
    .left-navbar-link-full-div{
        transform: none;
    }
}