.popup-full-div{
    position: fixed;
    z-index: 14;
    top:50%;
    left: 50%;
    transform: translate(-50%,-42%);
    border-radius: 2px;
    background-color: #242527;
    font-family: 'Barlow Condensed';
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.2rem;
    padding : 2rem;
    color: white;
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    pointer-events: none;
    filter: drop-shadow(0 0 10px rgba(0 , 0 , 0 , 0.5));
}


.popup-button{
    padding: 0.5rem 1.2rem;
    border-radius: 1px;
    outline: none;
    border: none;
    font-weight: 500;
    font-family: 'Barlow Condensed';
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #121212;
}

.popup-button:active{
    filter: none;
    -webkit-box-shadow:inset 3px 3px 5px 2px rgba(0 , 0 , 0 , 0.5);
    box-shadow:inset 3px 3px 5px 2px rgba(0 , 0 , 0 , 0.5);
}

.popup-cancel-button{
    color: grey;
    border:0.5px solid grey;
    margin-right: 5px;
}

.popup-confirm-button{
    color: red;
    border:0.5px solid transparent;
    margin-left: 5px;
    font-weight: 100;
    color: white;
    background-color: red;
}

.popup-backdrop{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 12;
}

@media(max-width : 527px){
    .popup-full-div{
        width: 80%;
    }
}