.popup-full-div{
    position: fixed;
    z-index: 14;
    top:50%;
    left: 50%;
    transform: translate(-50%,-42%);
    border-radius: 2px;
    background-color: white;
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-weight: 700;
    padding : 2rem;
    color: #050505;
    border : 1px solid tomato;
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    pointer-events: none;
}


.popup-button{
    padding: 0.5rem 1.2rem;
    border-radius: 1px;
    outline: none;
    border: none;
    font-weight: 900;
    font-family: 'Roboto';
    letter-spacing: 1px;
    cursor: pointer;
    background-color: white;
}

.popup-button:active{
    filter: none;
    -webkit-box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
}

.popup-cancel-button{
    color: grey;
    border:0.5px solid grey;
    margin-right: 5px;
}

.popup-confirm-button{
    color: red;
    border:0.5px solid red;
    margin-left: 5px;
}

.popup-backdrop{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 12;
}

@media(max-width : 527px){
    .popup-full-div{
        width: 80%;
    }
}