.profilepage-full-div{
    width: 100%;
    padding-top: 64px;
    min-height: calc(100vh - 64px);
}

.profilepage-inner-div{
    width: 100%;
}

.profilepage-section-1{
    width: 40%;
    margin: 0 auto;
    max-width: 750px;
}

.profilepage-avatar-div{
    position: relative;
}

.profilepage-cover-pic{
    height: 15rem;
    width: 100%;
    background-color: #242527;
    border: 2px solid grey;
    box-sizing:border-box !important;
}

.profilepage-profile-pic__div{
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    position: absolute;
    top: calc(15rem - 3.5rem);
    right: 10px;
}

.profilepage-section-2{
    background-color: #121212;
    width: 40%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 4rem ;
    text-align: right;
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px 3px rgba(0 , 0 , 0 , 0.5);
    padding-bottom: 1rem;
}

.profilepage-section-2 p{
    margin-right: 10px;
}


.profilepage-section-2-username{
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Comfortaa' , cursive;
    color: whitesmoke;
}

.profilepage-section-2-useremail{
    font-size: 1rem;
    font-weight: 500;
}


.profilepage-section-2-buttons{

    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.send-message-icon{
    color: greenYellow;
    border-radius: 100%;
    background: transparent;
    border : 2px solid greenYellow;
    padding: 7px;
    margin-left: 10px;
    box-shadow: 3px 3px 5px rgba(0 , 0 , 0 , 0.5);
    transition: color 500ms ease-in-out, transform 500ms ease-in-out, border-color 500ms ease-in-out, background-color 500ms ease-in-out;
    cursor: pointer;
    font-size: 1.5rem;
}

.send-message-icon:hover{
    border-color: white;
    background-color: greenYellow;
    color: white;
    transform: scale(1.2);
}

.send-message-icon:active{
    transition: none !important;
    -webkit-box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    transform: scale(0.9);
}


.add-friend-dots{
    margin-right: 10px;
    margin-left: 10px;
    color: #CED0D4;
    font-size: 1.7rem;
    cursor: pointer;
    transform: translateY(5px);
}





.profilepage-details-div{
    box-sizing: border-box;
    width: 97%;
    margin: 0 auto;
    border-radius: 5px;
    text-align: left;
    padding: 10px 20px;
    -webkit-box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    margin-top: 10px;
}


.profilepage-details-div p{
    color: rgb(87, 85, 85);
    font-weight: 700;
}


@media(max-width:56.25rem)
{
    .profilepage-section-1,.profilepage-section-2{
        width:70%
    }
}

@media(max-width:30rem)
{
    .profilepage-section-1,.profilepage-section-2{
        width:100%
    }

    .profilepage-profile-pic__div{
        height: 6rem;
        width: 6rem;
        top: calc(15rem - 3rem);
    }
}