.postcard-content-page-full-div{
    width: 100%;
    margin-top: 70px;
    min-height: 100%;
}

@media(max-width : 900px){

    .postcard-content-page-full-div{
        margin-top: 110px;
    }

}

.postcard-content-page-post-card-main-div{
    width:calc(100vw - 100px);
    border-radius: 5px;
    background-color: #121212;
    box-shadow: 4px 4px 4px rgba(0 , 0 , 0 , 0.5);
    padding: 20px 0;
    margin: 0 auto;
    min-height: calc(100vh - 128px);
}

.postcard-content-page-post-card-header{
    text-align: left;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
}

.postcard-content-page-post-author-image{
    display: inline-block;
}

.postcard-content-page-post-card-author{
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    cursor: pointer;
}


.postcard-content-page-post-card-author span:nth-child(1){
    margin: 0;
    font-family: 'Barlow Condensed';
    letter-spacing: 1px;
    color: white;
    transform: translateZ(0);
    font-size: 1.4rem;
    border-bottom: 1px solid transparent;
}

.postcard-content-page-post-card-author span:nth-child(1):hover{
    border-bottom: 1px solid white;
}

.postcard-content-page-post-card-date{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.8rem;
    font-family: 'Barlow Condensed' , cursive;
    color: white;
    letter-spacing: 1px;
}

#postcard-content-page-post-author-pic{
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.52);
    border:3px solid white;
}

.postcard-content-page-post-card-underline{
    height: 1.5px;
    width: 80%;
    background-color:#3D3F42;
    margin: 10px auto 0 auto;
    
}

.postcard-content-page-post-card-like-icon{
    color: gold;
    font-size: 1.4rem;
}

.postcard-content-page-post-card-title-div{
    margin-top:10px;
    border-radius: 5px;
    padding:5px 2px;
    /* -webkit-box-shadow:inset 3px 3px 5px 2px rgba(0 , 0 , 0 , 0.5);
    box-shadow:inset 3px 3px 5px 2px rgba(0 , 0 , 0 , 0.5); */
    margin-right: 20px;
    margin-left: 20px;
    background-color: #242527;
    text-align: left;
}

.postcard-content-page-post-card-title{
    font-family: 'Barlow Condensed', sans-serif;
    /* font-weight: 600; */
    font-size: 2rem;
    margin: 0;
    margin-left: 20px;
    letter-spacing: 0.5px;
    color : cyan;
    text-transform: capitalize;
}

.postcard-content-page-post-card-content-div{
    margin-top: 10px;
    text-align: left;
    padding: 10px 20px;
    border-radius: 5px;
    /* -webkit-box-shadow:inset 3px 3px 5px 2px rgba(0 , 0 , 0 , 0.5);
    box-shadow:inset 3px 3px 5px 2px rgba(0 , 0 , 0 , 0.5); */
    margin-right: 20px;
    margin-left: 20px;
    background-color: #242527;
}

.postcard-content-page-post-card-content{
    font-family: 'Barlow Condensed' , cursive;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
}

.postcard-content-page-post-card-readmore{
    margin-top: 0;
    color: rgb(69, 131, 182);
    cursor: pointer;
}

.postcard-content-page-post-card-img-div{
    margin-top: 10px;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.postcard-content-page-post-card-img{
    width: 100%;
    border-top: 1.5px solid #3D3F42;
    border-bottom: 1.5px solid #3D3F42;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    cursor: pointer;
}


.postcard-content-page-post-card-like-count-div{
    text-align: left;
    margin: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    /* padding-left: 25px; */
}

.postcard-content-page-post-card-like-count{
    color: gold;
    font-family: 'Barlow Condensed';
    font-size: 1.2rem;
    margin-left: 16px;
}

.postcard-content-page-post-card-like-div{
    text-align: left;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*start*/

.postcard-content-page-post-card-like-div-like-button{
    height: 100%;
    width: 7rem;
    max-width: 7rem;
    max-height: 2rem;
    padding: 5px 0 5px 0;
    position: relative;
    overflow:visible;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 200ms ease-in-out , transform 100ms ease-in-out;
}

.postcard-content-page-post-card-like-div-like-button:hover{
    background-color: rgba(255 , 255 , 255 , 0.07);
}
.postcard-content-page-post-card-like-div-like-button:active{
    transform: scale(0.95);
}

.postcard-content-page-post-card-like-div__comment-button__div{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    border-radius: 2px;
    transition: background-color 200ms ease-in-out , transform 100ms ease-in-out;
    cursor: pointer;
}

.postcard-content-page-post-card-like-div__comment-button__div:hover{
    background-color: rgba(255 , 255 , 255 , 0.07);
}
.postcard-content-page-post-card-like-div__comment-button__div:active{
    transform: scale(0.95);
}

.postcard-content-page-post-card-like-div__comment-button__div__span{
    font-family: 'Barlow Condensed';
    font-size: 1.1rem;
}

.postcard-content-page-post-card-like-div__comment-icon{
    font-size: 1.4rem;
    margin-right: 10px;
}

.postcard-content-page-post-card-like-div-like-button-text{
    cursor: pointer;
    z-index: 0;
    color: gold;
    font-family: cursive;
    transform: translateX(-20px);
}

.postcard-content-page-post-card-like-div-like-button-lottie-container{
    width: 5rem;
    height: 5rem;
    padding: 0;
    transform: translateX(-10px);
    pointer-events: none;
    overflow: visible;
}



.postcard-content-page-post-card-comments-div{
    color: whiteSmoke;
    margin-right: 20px;
    margin-left: 20px;
}

.postcard-content-page-post-card-comments-div__title-div{
    /* width: 100%; */
    height: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.postcard-content-page-post-card-comments-div__title{
    font-family: 'Barlow Condensed' , cursive;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.616);
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: cyan;
    letter-spacing: 2px;
}

.postcard-content-page-post-card-comments-div__title__middle{
    font-family: 'Barlow Condensed' , cursive;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.616);
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: cyan;
    letter-spacing: 2px;

    display: block;
    margin: 0 5px;
    transform: translateY(0);

    border-bottom: 4px solid yellow;
}

.postcard-content-page-post-card-each-comment{
    text-align: left;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.postcard-content-page__each-comment__right-div{
    width: calc(100% - 3rem);
}


.postcard-content-page__each-comment__avatar-div{
    height: 2.2rem;
    width: 2.2rem;
    display: inline-block;
}

.postcard-content-page__each-comment__author-name{
    display: inline-block;
    margin: 0;
    font-family: 'Barlow Condensed' , cursive;
    letter-spacing: 1px;
    padding-left: 10px;
    font-size: 1.1rem;
    color: white;
}


.postcard-content-page__each-comment__content{
    color: grey;
    border-radius: 0 5px 5px  5px;
    margin: 2px auto 0 10px;
    padding: 5px 20px;
    background-color: #242527;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    word-spacing: 3px;
    min-width: 15rem;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    word-break: break-all;
}

.postcard-content-page-comment-section-div{

    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #3D3F42;
    box-sizing: content-box;
    height: 2rem;
    padding: 7px 0 3px 0;
    position: relative;
    transition: border-color 300ms ease-in-out;

}

.postcard-content-page-comment-section-avatar-div{

    width: 2rem;
    margin-right: 1rem;

}

.postcard-content-page-comment-section-input-div{

    width: calc(100% - 3rem);
    height: 100%;
    position: relative;
}

.postcard-content-page-comment-button-div{
    position: absolute;
    right: 0;
    top: -5px;
    font-size: 2rem;
    color: cyan;
}


.postcard-content-page-comment-section-textarea{
    box-sizing: border-box;
    width: 100%;
    resize: none;
    overflow: hidden;
    height: 100%;
    min-height: 20px;
    max-height: 100px;
    font-family: 'Comfortaa' , cursive;
    font-size: 1.2rem;
    outline: none;
    border : none;
    color: whiteSmoke;
    background: #121212;
    padding-right: 40px;
}

.postcard-content-page-comment-section-custom-placeholder{
    position: absolute;
    left: 46.2px;
    top: 9px;
    pointer-events: none;
    background: transparent;
    transition: top 300ms ease-in-out, color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    padding: 0 5px;
    color: #909192;
    background-color: #121212;
}


@media(max-width:56.25rem)
{
    .postcard-content-page-post-card-main-div{
        width:70%
    }
}

@media(max-width:30rem)
{
    .postcard-content-page-post-card-main-div{
        width:100%
    }
}