.myprofile-full-div{
    width: 100%;
    padding-top: 64px;
    background-color: #F0F2F5;
    min-height: calc(100vh - 64px);
}

.myprofile-inner-div{
    width: 100%;
}

.myprofile-section-1{
    width: 40%;
    margin: 0 auto;
    max-width: 750px;
}

.myprofile-avatar-div{
    position: relative;
}

.myprofile-cover-pic{
    height: 15rem;
    width: 100%;
    background-color: rgb(216, 216, 216);
    border: 2px solid grey;
    box-sizing:border-box !important;
}

.myprofile-profile-pic img{
    height: 7rem;
    width: 7rem;
    border-radius: 7rem;
    border : 2px solid white;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.596);
    position: absolute;
    top: calc(15rem - 3.5rem);
    right: 10px;
}

.myprofile-section-2{
    background-color: white;
    width: 40%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 4rem ;
    text-align: right;
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.527);
    padding-bottom: 1rem;
}

.myprofile-section-2 p{
    margin-right: 10px;
    /* font-family: 'Roboto';
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #1877F1; */
}

.myprofile-section-2-username{
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Comfortaa' , cursive;
    color: #050505;
}

.myprofile-section-2-useremail{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Comfortaa' , cursive;
}


.myProfile-details-div{
    box-sizing: border-box;
    width: 97%;
    margin: 0 auto;
    border-radius: 5px;
    text-align: left;
    padding: 10px 20px;
    -webkit-box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
}

.myProfile-details-div p{
    color: rgb(87, 85, 85);
    font-weight: 700;
}


@media(max-width:56.25rem)
{
    .myprofile-section-1,.myprofile-section-2{
        width:70%
    }

}

@media(max-width:30rem)
{
    .myprofile-section-1,.myprofile-section-2{
        width:100%
    }

    .myprofile-profile-pic img{
        height: 6rem;
        width: 6rem;
        border-radius: 6rem;
        top: calc(15rem - 3rem);
    }
}