.avatar-image{
    border-radius: 100%;
    border: 3px solid cyan;
    box-shadow: 3px 3px 5px rgba(0 , 0 , 0 , 0.5);
    transition: transform,-webkit-transform 500ms,500ms ease-in-out;
    cursor: pointer;
}

.avatar-image:hover{
    transform: scale(1.1);
}