.avatar-image{
    border-radius: 100%;
    border: 3px solid #2E89FF;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.452);
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.avatar-image:hover{
    transform: scale(1.1);
}