.newnavbar-dropdown-button{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100%;
    display: inline-block;
    font-size: 2rem;
    /* height: 30px;
    width: 30px; */
    /* padding: 7px; */
    height: fit-content;
    width: fit-content;
    background: #121212;
    border: 2px solid #3D3F42;
    color: #3D3F42;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 32px;
    transform: translateY(-50%);
    z-index: 12;
    overflow: visible;
}

.newnavbar-dropdown-button-icon{
    width: 30px;
    height: 30px;
    padding: 7px;
    transition: box-shadow 500ms ease-in-out;
}

.newnavbar-dropdown-button:active{
    -webkit-box-shadow:inset 3px 3px 3px 2px rgba(0 , 0 ,0 , 0.5);
    box-shadow:inset 3px 3px 3px 2px rgba(0 , 0 , 0 , 0.5);
}

.newnavbar-dropdown-desk{
    position: absolute;
    width: 15rem;
    height: auto;
    border-radius:10px;
    overflow: hidden;
    right: -5px;
    top: -5px;
    opacity: 0;
    border: 1px solid #121212;
    justify-content: center;
    align-items: center;
    transform: translateX(40%) translateY(-45%) translateZ(0) scale(0.1);
    padding: 30px 5px 3px 5px;
    background: #121212;
    flex-wrap: nowrap;
    z-index: 1;
    cursor: default;
    box-shadow: -5px 5px 10px rgba(0 , 0 , 0 , 0.5);
    pointer-events: none;
    transition: transform 500ms ease-in-out,opacity 500ms ease-in-out;
}



.newnavbar-dropdown-desk-underline{
    height: 1px;
    width: 80%;
    background-color: #3D3F42;
    margin: 20px auto;
}

.newnavbar-dropdown-desk-avatar-username{
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: cyan;
    font-family: 'Comfortaa' , cursive;
    font-weight: 600;
}

.newnavbar-dropdown-desk-aboutus{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(102, 102, 102);
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    transform: translateZ(0);
    transition: transform 300ms ease-in-out;
}

.newnavbar-dropdown-desk-aboutus:hover{
    transform: scale(1.05) translateZ(0);
}


.newnavbar-dropdown-desk-avatar-aboutus-text{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 15px;
    font-family: 'Comfortaa' , cursive;
    font-weight: 600;
}

.newnavbar-dropdown-desk-logout{
    display: flex;
    margin-top: 10px;
    color: red;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid red;
    padding: 5px 10px;
}


.newnavbar-dropdown-desk-avatar-logout-text{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 15px;
    text-shadow: 3px 3px 5px rgba(255, 0, 0, 0.548);
}

.newnavbar-dropdown-desk-close-button{
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    color: rgba(214, 211, 211, 0.603);
    padding : 5px 10px;
    border-radius: 100%;
    font-size: 1.5rem;
    -webkit-text-stroke: 3px #121212;
}