
.logo-div{
    height: 6rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.logo-div-lotti-div{
    height: 100%;
    width: 30%;
    transform: translateY(-25px);
}

.logo-div-text-div{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.logo-div-text{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #1877F3;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent , #0008);
    line-height: 0.70em;
    text-shadow: 0 0 10px #03bcf4;
    outline: none;
    animation: glowText 5s linear infinite;
    transform: translateZ(0);
    margin-right: 2px;
}

.logo-div-text__onhover{
    color: #fff;
    text-shadow:    0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
    animation : animateText 1s ease-in-out;
}

@keyframes animateText {
    0%{
        transform: scale3d(1,1,1);
    }
    30%{
        transform: scale3d(1.25,.75,1);
    }
    40%{
        transform: scale3d(.75,1.25,1);
    }
    50%{
        transform: scale3d(1.15,.85,1);
    }
    65%{
        transform: scale3d(.95,1.05,1);
    }
    75%{
        transform: scale3d(1.05,.95,1);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}

@keyframes glowText {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{

        color: #0e3742;
        text-shadow: none;

    }

    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{

        color: #fff;
        text-shadow:    0 0 10px #03bcf4,
                        0 0 20px #03bcf4,
                        0 0 40px #03bcf4,
                        0 0 80px #03bcf4,
                        0 0 160px #03bcf4;

    }
}

.logo-div-underline{
    height: 10px;
    width: 100%;
    background-color: greenyellow;
}