html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.post-card-main-div{
    width:40%;
    border-radius: 5px;
    background-color: white;
    margin:10px auto;
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.548);
    padding: 20px 0;
    max-width: 750px;
    position: relative;
}

.post-card-header{
    text-align: left;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
}

.post-author-image{
    display: inline-block;
}

.post-card-author{
    position: absolute;
    display: inline-flex;
    top: 0;
    margin-left: 15px;
    cursor: pointer;
    height: 100%;
    align-items: center;
}
.post-card-author h4:nth-child(1):hover{

    font-size: 1.2rem;
    text-shadow: 4px 4px 5px rgb(128, 128, 128);
}


.post-card-author h4:nth-child(1){
    margin: 0;
    font-family: 'Comfortaa' , cursive;
    letter-spacing: 1px;
    text-shadow: 2px 2px 3px rgba(128, 128, 128, 0.602);
    transition: all 300ms ease-in-out;
    color: #050505;
    transform: translateZ(0);
    font-weight: 600;
    font-size: 1.2rem;
}

.post-card-date{
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
    margin: 0;
    font-size: 0.8rem;
    font-family: 'Roboto' , sans-serif;

}

#post-author-pic{
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.52);
    border:3px solid white;
}

.post-card-underline{
    height: 1.5px;
    width: 80%;
    background-color:#CED0D4;
    margin: 10px auto 0 auto;
}

.post-card-title-div{
    margin-top:10px;
    border-radius: 5px;
    padding:5px 2px;
    -webkit-box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    margin-right: 20px;
    margin-left: 20px;
    background-color: #F0F2F5;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.post-card-title{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 0.5px;
}

.post-card-content-div{
    margin-top: 10px;
    text-align: left;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    margin-right: 20px;
    margin-left: 20px;
    background-color: #F0F2F5;
}

.post-card-content{
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Comfortaa' , cursive;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    font-weight: 600;
}

.post-card-readmore{
    margin-top: 0;
    color: rgb(69, 131, 182);
    cursor: pointer;
}

.post-card-img-div{
    margin-top: 10px;
    width: 100%;
    height: 25rem;
    overflow: hidden;
    display: inline-block;
}

.post-card-img{
    width: 100%;
    border-top: 1.5px solid #CED0D4;
    border-bottom: 1.5px solid #CED0D4;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    cursor: pointer;
    
}


.post-card-like-count-div{
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.post-card-like-count-div i:nth-child(1){
    font-size: 1.3rem;
}

.post-card-like-div{
    text-align: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
}


.post-card-like-div-like-button{
    height: 100%;
    width: 4rem;
    position: relative;
    overflow:visible;
}

.post-card-like-div-like-button-touchable-div{
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    /* background-color: rgba(128, 128, 128, 0.322); */
    cursor: pointer;
    z-index: 2;
}

.post-card-like-div-like-button-lottie-container{
    width: 6rem;
    height: 6rem;
    padding: 0;
    transform: translate(-1rem , -1rem);
}

.post-card-like-div-comment-button{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: grey;
}

.post-card-like-div-comment-button i:nth-child(1){
    cursor: pointer;
}


@keyframes animateLikeButton {

    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(0.8);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}

.post-card-random-comment-div{
    color: grey;
    margin-right: 20px;
    margin-left: 20px;
}

.post-card-random-comment-div h3{
    font-family: 'Dancing Script' , cursive;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 3px 3px 5px rgba(128, 128, 128, 0.616);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.post-card-random-comment-div h3:hover{
    /* margin-top: 35px; */
    transform: scale(1.1) translateZ(0);
    text-shadow: 4px 4px 5px rgba(128, 128, 128, 0.76);
}

.post-card-random-comment{
    text-align: left;
}

.post-card-random-comment-avatar-div{
    display: inline-block;
    transform: translateY(4px);
}

.post-card-random-comment img{
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
}

.post-card-random-comment h4{
    display: inline-block;
    margin: 0;
    font-family: 'Comfortaa' , cursive;
    letter-spacing: 1px;
    color: #050505;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.445);
    padding-left: 10px;
}


.post-card-random-comment p{
    color: grey;
    border-radius: 0 50px 50px  50px;
    margin: 0 auto;
    padding: 20px 20px;
    -webkit-box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    box-shadow:inset 3px 3px 5px 2px rgba(128,128,128,0.568);
    max-width: 80%;
    background-color: #F0F2F5;
    padding-top: 10px;
    margin-top:10px;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    word-spacing: 3px;
}

.post-card-dots-div{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid transparent;
    padding: 0.5rem;
    color: rgb(107, 107, 107);
    cursor: pointer;
    transition: border 300ms ease-in-out;
    z-index: 2;
    color: #050505;
}

.post-card-dots{
    height: 1rem;
    width: 1rem;
}

.post-card-dots-div:hover{
    border-color: #050505;
}

.post-card-dots-div:active{
    transition: none !important;
    border-color: transparent;
}


.post-card-dots-bar{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15rem;
    background: white;
    padding: 20px 10px;
    border-radius: 4px 0 4px 4px;
    border: 1px solid #050505;
    z-index: 3;
    box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.335);
}

.post-card-dots-bar-save-post-div{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transform: translateZ(0);
    transition: background-color 500ms ease-in-out;
}

.post-card-dots-bar-save-post-div:hover{
    background-color: #CEDEF2;
}

.post-card-dots-bar-save-post-icon-div{
    width: 2rem;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #2B89DC;
    margin-left: 10px;
}

.post-card-dots-bar-save-post-icon{
    height: 1.7rem;
    width: 1.7rem;
    -webkit-text-stroke: 2px white;
}

.post-card-dots-bar-save-post-text-div{
    font-family: 'Comfortaa' , cursive;
    color: #050505;
    font-weight: 600;
}

.post-card-dots-bar-save-post-div-close-cross-div{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 100%;
    background-color: black;
    height: 1.3rem;
    width: 1.3rem;
}

.post-card-dots-bar-save-post-div-close-cross{
    height: 1.3rem;
    width: 1.3rem;
    color: whitesmoke;
    transition: transform 300ms ease-in-out;
    transform: translateZ(0);
    cursor: pointer;
}

.post-card-dots-bar-save-post-div-close-cross-div:hover .post-card-dots-bar-save-post-div-close-cross{
    transform: rotate(180deg) translateZ(0);
}


@media(max-width:56.25rem)
{
    .post-card-main-div{
        width:70%
    }
}

@media(max-width:30rem)
{
    .post-card-main-div{
        width:100%
    }
}